.info {
  margin: 0 5px;
  font-weight: bold;
  color: red;
}

.li {
  line-height: 2.5;
  color: wheat;
  border-bottom: 1px solid wheat;
}

.img {
 margin-left: 5px;
  height: 25px;
  vertical-align: middle;
}

.buttons {
    position: sticky;
    top: 0%;
     & :hover {
        cursor: pointer;
        background-color: darkblue;
        color: antiquewhite;
        border: 1px solid darkblue;
    }

}